body {
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: url('../images/light_wool.png');
    background-size: 190px 191px;
}

#header {
    text-align: center;
}

h1.title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #1b6197;
    margin: 0 0 20px;
}

#description {
    margin-bottom: 20px;
}

#social {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

/* tablet portait and up */
@media (min-width: 768px) {
    body {
        padding-top: 50px;
    }
    
    h1.title {
        font-size: 60px;
    }
}

/* retina displays (2x) */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx)
{
    body {
        background-image: url('../images/light_wool__2x.png');
    }
}

